{% extends "base.html" %}
{% block content %}
    <h2>Доступные товары для аренды</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Количество</th>
                <th>Местоположение</th>
                <th>Цена за сутки</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product[1] }}</td>
                    <td>{{ product[2] }}</td>
                    <td>{{ product[3] }}</td>
                    <td>{{ product[4] }}₽</td>
                    <td>
                        <a href="{{ url_for('product_detail', product_id=product[0]) }}" class="btn btn-info">Подробнее</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}