{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1 class="my-4">Заказы</h1>
        <table id="ordersTable" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Товар</th>
                    <th>Статус</th>
                    <th>Трек-номер</th>
                    <th>Дата</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order[0] }}</td>
                        <td>{{ order[6] }}</td>
                        <td>{{ order[2] }}</td>
                        <td>{{ order[4] or 'Нет' }}</td>
                        <td>{{ order[5] }}</td>
                        <td>
                            {% if order[2] == 'In Transit' %}
                                <a href="{{ url_for('update_order', order_id=order[0], status='Received') }}" class="btn btn-sm btn-success">Получен</a>
                                <a href="{{ url_for('update_order', order_id=order[0], status='Completed') }}" class="btn btn-sm btn-primary">Завершен</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#ordersTable').DataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/1.13.1/i18n/ru.json" }
            });
        });
    </script>
{% endblock %}